Identification of meta object

There is a lot of duplication in the block from [here](https://github.com/ionwg/ion-doc/blame/master/draft-ion.adoc#L303) to [here](https://github.com/ionwg/ion-doc/blame/master/draft-ion.adoc#L316) inclusive:

>An Ion parser MUST identify a member as a Meta Object if and only if:
>
>1. The member name is equal to the case-sensitive octet sequence meta and
>1. The member value is a JSON Object that has one or more members.
>
>If a member name is equal to the case-sensitive octet sequence meta and the member value is NOT a JSON Object (i.e. it is an array, number, string or the octet sequence literals null, false, or true as defined by RFC 7159, Section 3), an Ion parser MUST NOT identify the member as a Meta Object.
>
>If a member name is equal to the case-sensitive octet sequence meta and the member value is an empty JSON Object with no members, an Ion parser MUST NOT identify the member as a Meta Object.
>
>If a member name is not equal to the case-sensitive octet sequence meta, an Ion parser MUST NOT identify a member as a Meta Object.

and could be both simplified and clarified as:

>An Ion parser MUST identify a member as a Meta Object if and only if:
>1. The member name is equal to the case-sensitive octet sequence meta
>1. The member value is a valid JSON Object 
>1. The member value has one or more members.

I don't think there is any need to express the `MUST NOT` conditions separately as they are already covered by the `MUST .. if and only if`


In addition, there is a conflict between this and the Registered Meta Members at section 6.  

Section 6 declares all registered members as OPTIONAL - but if all are optionally omitted, then `meta` does not contain one or more members (item 3 above)

Perhaps `href` should be MANDATORY - when would it not be required? (certainly mandatory in a link, what would be the use case where it is omitted from an implied `self`)?   

@davidsowerby can you please check out the latest version of master?  The meta concept was removed for the simpler (and more intuitive) value object.  This change was made to simplify things, but also to make transliteration to/from HTML seamless.

Closing due to removal of `meta` member (where a `self` link + additional metadata within the link object now should suffice for self-description).  If you feel otherwise, please feel free to re-open - happy to discuss.